# Instalación e importación de librerías

In [1]:
import numpy as np
import pandas as pd
import os

## Ruta de datos

In [3]:
path = os.path.join(os.getcwd(),'collecting_initial_data')
path_additional_data = os.path.join(path,'additional_data')
path_existing_data = os.path.join(path,'existing_data')
path_wd_data = os.path.join(path_existing_data,'DIRTY_DATA')
path_dd_data = os.path.join(path_existing_data,'DOWNLOADED_DATA')

# Describing Data

**Cantidad de datos.** Para la mayoría de las técnicas de modelado, existen compensaciones asociadas con el tamaño de los datos. Grandes conjuntos de datos pueden producir modelos más precisos, pero también pueden alargar el tiempo de procesamiento. Considere si usar un subconjunto de datos es una posibilidad. Cuando tome notas para el informe final, asegúrese de incluir estadísticas de tamaño para todos los conjuntos de datos y recuerde considerar tanto la cantidad de registros como los campos (atributos) al describir los datos.

In [21]:
def amount_of_data(df):
    amount_of_data_list = []
    for col in df.columns:  
        amount_of_data_list.append(len(df[col][df[col].notnull()]))
    return amount_of_data_list

def null_of_data(df):
    null_of_data_list = []
    for col in df.columns:  
        null_of_data_list.append(len(df[col][df[col].isnull()]))
    return null_of_data_list

def not_null_of_dat(df):
    return df.notnull().sum().sum()

def n_row_data(df):
    return df.shape[0]

def n_col_data(df):
    return df.shape[1]

**Tipos de valor.** Los datos pueden tomar una variedad de formatos, como numérico, categórico (cadena) o booleano (verdadero/falso). Prestar atención al tipo de valor puede evitar problemas durante el modelado posterior.

In [5]:
def value_types(df):
    value_types_list = df.dtypes.values
    return value_types_list

**Esquemas de codificación.** Con frecuencia, los valores de la base de datos son representaciones de características como el género o el tipo de producto. Por ejemplo, un conjunto de datos puede usar M y F para representar hombres y mujeres, mientras que otro puede usar los valores numéricos 1 y 2. Tenga en cuenta cualquier esquema en conflicto en el informe de datos.

In [6]:
def coding_schemes(df):
    coding_schemes_list = df.iloc[0].values
    return coding_schemes_list

In [7]:
df_coec = pd.read_csv(os.path.join(path_additional_data,'costo_oferta_educacion_continua.csv'))

5475

In [16]:
info_df_coec = pd.DataFrame(data=[df_coec.columns,amount_of_data(df_coec),null_of_data(df_coec),value_types(df_coec),coding_schemes(df_coec)]).transpose()
info_df_coec = info_df_coec.rename(columns={0:'Nombre de columna',1:'# de datos NO nulos',2:'# de datos nulos',3:'Tipo de datos',4:'Ejemplo'})

,Nombre de columna,# de datos NO nulos,# de datos nulos,Tipo de datos,Ejemplo
0,#,15,506,float64,1.0
1,Universidad,15,506,object,udla universidad de las americas
2,Ciudad,15,506,object,Quito
3,Pagina Web,15,506,object,https://www.udla.edu.ec/educacion-continua2/
4,Servicios,103,418,object,37 carreras de pregrado en modalidades presenc...
5,Tipos de Oferta,280,241,object,Maestrias
6,Areas de Formación,350,171,object,Administracion y negocios
7,Nombre de los Programas,519,2,object,gerencia de instituciones de salud
8,Modalidad,521,0,object,100% online
9,horarios,521,0,object,22 de marzo de 2021
10,Tiempo de duración,519,2,object,1736 H
11,Duración programa,520,1,object,1 año 2 meses
12,Precio,518,3,object,llamar
13,formas de pago,521,0,object,"efectivo , tarjetas de credito y , debito , ba..."
14,certificación,521,0,object,"WACS, Acreditadora de Chile, CES"
15,plataforma educacion virtual,521,0,object,"moodle ,office 365"
16,Red de educación,1,520,object,NaN

In [27]:
report_files_columns = ['Archivo','# Filas','# Columnas','Total datos', 'Total datos NO Nulos']
data_report = []
for path_file in os.listdir(path_wd_data):
    if '.csv' in path_file:
        df_check = pd.read_csv(os.path.join(path_wd_data,path_file))
        data_report_row = [path_file,n_row_data(df_check), n_col_data(df_check), n_row_data(df_check)*n_col_data(df_check), not_null_of_dat(df_check)]
        data_report.append(data_report_row)
        info_df = pd.DataFrame(data=[df_check.columns,amount_of_data(df_check),null_of_data(df_check),value_types(df_check),coding_schemes(df_check)]).transpose()
        info_df = info_df.rename(columns={0:'Nombre de columna',1:'# de datos NO nulos',2:'# de datos nulos',3:'Tipo de datos',4:'Ejemplo'})
        info_df.to_excel(os.path.join('data_understanding_reports','reporte_'+path_file[:-4]+'.xlsx'),index=False)

df_data_report = pd.DataFrame(data=data_report,columns=report_files_columns)
df_data_report.to_excel(os.path.join('data_understanding_reports','reporte_datos.xlsx'),index=False)

# Explorando datos

In [60]:
df_coec.head()

,#,Universidad,Ciudad,Pagina Web,Servicios,Tipos de Oferta,Areas de Formación,Nombre de los Programas,Modalidad,horarios,Tiempo de duración,Duración programa,Precio,formas de pago,certificación,plataforma educacion virtual,Red de educación
0,1.0,udla universidad de las americas,Quito,https://www.udla.edu.ec/educacion-continua2/,37 carreras de pregrado en modalidades presenc...,Maestrias,Administracion y negocios,gerencia de instituciones de salud,100% online,22 de marzo de 2021,1736 H,1 año 2 meses,llamar,"efectivo , tarjetas de credito y , debito , ba...","WACS, Acreditadora de Chile, CES","moodle ,office 365",NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Educacion,liderazgo educativo,100% online,22 de marzo de 2021,1680 H,1 año 2 meses,llamar,"efectivo , tarjetas de credito y , debito , ba...","WACS, Acreditadora de Chile, CES","moodle ,office 365",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Salud,seguridad y salud ocupacional,100% online,22 de marzo de 2021,1680 H,1 año 2 meses,llamar,"efectivo , tarjetas de credito y , debito , ba...","WACS, Acreditadora de Chile, CES","moodle ,office 365",NaN
3,NaN,NaN,NaN,NaN,NaN,Diplomados,Administracion y negocios,administracion de empresas,100% online,22 de marzo de 2021,168 H,3-5 meses,llamar,"efectivo , tarjetas de credito y , debito , ba...","WACS, Acreditadora de Chile, CES","moodle ,office 365",NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,desarrollo de negocios y emprendimiento,100% online,22 de marzo de 2021,168 H,3-5 meses,llamar,"efectivo , tarjetas de credito y , debito , ba...","WACS, Acreditadora de Chile, CES","moodle ,office 365",NaN

In [59]:
df_coec.describe(include='all')

,#,Universidad,Ciudad,Pagina Web,Servicios,Tipos de Oferta,Areas de Formación,Nombre de los Programas,Modalidad,horarios,Tiempo de duración,Duración programa,Precio,formas de pago,certificación,plataforma educacion virtual,Red de educación
count,15.000000,15,15,15,103,280,350,519,521,521,519,520,518,521,521,521,1
unique,NaN,15,12,15,15,25,53,503,10,136,134,99,76,18,38,46,1
top,NaN,udla universidad de las americas,Quito,https://www.udla.edu.ec/educacion-continua2/,"Cursos presenciales abiertos y cerrados, inte...",CURSOS Y PROGRAMAS DE FORMACION,Empresariales,SQL Aplicado al Análisis de Datos,Presencial,"Este curso se oferta bajo pedido, para grupos ...",16 H,32 H,llamar,DESCUENTOS\n10% de descuento por pronto pago: ...,"Sistema nacional de Informacion, CES , Secreta...","EPN , CEC-EPN",Red de Educación Continua de Latinoamérica y E...
freq,NaN,1,4,1,89,220,146,2,151,87,46,37,238,192,144,99,1
mean,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.472136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,11.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df_coec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             15 non-null     float64
 1   Universidad                   15 non-null     object
 2   Ciudad                        15 non-null     object
 3   Pagina Web                    15 non-null     object
 4   Servicios                     103 non-null    object
 5   Tipos de Oferta               280 non-null    object
 6   Areas de Formación            350 non-null    object
 7   Nombre  de los Programas      519 non-null    object
 8   Modalidad                     521 non-null    object
 9   horarios                      521 non-null    object
 10  Tiempo de duración            519 non-null    object
 11  Duración programa             520 non-null    object
 12   Precio                       518 non-null    object
 13  formas de pago                521 non-null    object
 14  certificación                 521 non-null    object
 15  plataforma educacion virtual  521 non-null    object
 16  Red de educación              1 non-null      object
dtypes: float64(1), object(16)
memory usage: 69.3+ KB

## Data Exploration Report

* ¿Qué tipo de hipótesis ha formulado acerca de los datos?: La hoja CSV esta compuesta de datos de cursos de eduación continúa con su información respectiva acerca de su ubicación, area, precio, modalidad, certificado, etc.

* ¿Qué atributos parecen prometedores para un análisis posterior?: Los datos Modalidad, Areas de Formación, Nombre  de los Programas, Tiempo de duración y Precio.

* ¿Sus exploraciones han revelado nuevas características sobre los datos?: Existen muchos datos nulos y datos erroneos que hay que corregir.

* ¿Cómo han cambiado estas exploraciones su hipótesis inicial?: Se requerira un procesamiento de texto para identificar correctamente los datos.

* ¿Puede identificar subconjuntos particulares de datos para su uso posterior?: Conjunto de datos conformada por Modalidad, Areas de Formación, Nombre  de los Programas, Tiempo de duración y Precio.

* Eche otro vistazo a sus objetivos de minería de datos. ¿Esta exploración ha alterado los objetivos?: Estos datos son de vital importancia para obtener el valor de los cursos a nivel nacional

# Verificación de la calidad de los datos

**Datos faltantes**: incluye valores que están en blanco o codificados como falta de respuesta (como $null$, ? o 999).

In [63]:
mising_data_df_coec = amount_of_data(df_coec)
mising_data_df_coec

[15, 15, 15, 15, 103, 280, 350, 519, 521, 521, 519, 520, 518, 521, 521, 521, 1]

**Errores de datos**: suelen ser errores tipográficos cometidos al ingresar los datos.

**Errores de medición**: incluyen datos que se ingresaron correctamente pero que se basan en un esquema de medición incorrecto.

**Inconsistencias en la codificación**: generalmente involucran unidades de medida no estándar o inconsistencias de valores, como el uso de M y masculino para el género.

**Metadatos incorrectos**: incluyen discrepancias entre el significado aparente de un campo y el significado establecido en el nombre o la definición de un campo.

### Data Quality Report

Según su exploración y verificación de la calidad de los datos, ahora está listo para preparar un informe que guiará la siguiente fase de CRISP-DM. Consulte el tema Verificación de la calidad de los datos para obtener más información.

Lista de tareas

Como se discutió anteriormente, hay varios tipos de problemas de calidad de datos. Antes de pasar al siguiente paso, tenga en cuenta los siguientes problemas de calidad y planifique una solución. Documente todas las respuestas en el informe de calidad de datos.

* ¿Ha identificado atributos faltantes y campos en blanco? Si es así, ¿hay significado detrás de tales valores faltantes?

* ¿Existen incoherencias ortográficas que puedan causar problemas en fusiones o transformaciones posteriores?

* ¿Ha explorado las desviaciones para determinar si son "ruido" o fenómenos que vale la pena analizar más a fondo?

* ¿Ha realizado una verificación de plausibilidad de los valores? Tome notas sobre cualquier conflicto aparente (como adolescentes con altos niveles de ingresos).

* ¿Ha considerado excluir datos que no tienen impacto en sus hipótesis?

* ¿Los datos se almacenan en archivos planos? Si es así, ¿los delimitadores son consistentes entre los archivos? ¿Cada registro contiene el mismo número de campos?

## Consideraciones para el siguiente paso

Antes de preparar los datos para el modelado en IBM® SPSS® Modeler, considere los siguientes puntos:

* ¿Qué tan bien entiendes los datos?

* ¿Están claramente identificadas y accesibles todas las fuentes de datos? ¿Conoce algún problema o restricción?

* ¿Ha identificado atributos clave de los datos disponibles?

* ¿Te ayudaron estos atributos a formular hipótesis?

* ¿Ha anotado el tamaño de todas las fuentes de datos?

* ¿Es capaz de utilizar un subconjunto de datos cuando corresponda?

* ¿Ha calculado estadísticas básicas para cada atributo de interés? ¿Emergió información significativa?

* ¿Usó gráficos exploratorios para obtener más información sobre los atributos clave? ¿Esta idea reformuló alguna de sus hipótesis?

* ¿Cuáles son los problemas de calidad de datos para este proyecto? ¿Tiene un plan para abordar estos problemas?

* ¿Son claros los pasos de preparación de datos? Por ejemplo, ¿sabe qué fuentes de datos fusionar y qué atributos filtrar o seleccionar?

Ahora que está armado con la comprensión de los datos y del negocio, es el momento de utilizar IBM SPSS Modeler para preparar sus datos para el modelado.