# Busqueda de los mejores cursos

# Instalación de librerías

In [2]:
import pandas as pd
import numpy as np
import os

# Ruta de archivos

In [3]:
path = os.path.join(os.getcwd(),'DATAWAREHOUSE')
path_dmt_oc = os.path.join(path,'datamart_oc')
path_dmt_oec = os.path.join(path,'datamart_oec')
path_dmt_ci = os.path.join(path,'datamart_ci')

## Analisis OC

In [3]:
df_fact_oc = pd.read_csv(os.path.join(path_dmt_oc,'fact_oc.csv'))
df_dim_razon_social_oc = pd.read_csv(os.path.join(path_dmt_oc,'dim_razon_social_oc.csv'))
df_dim_curso_perfil = pd.read_csv(os.path.join(path_dmt_oc,'dim_curso_perfil.csv'))

In [4]:
df_merge = pd.merge(df_fact_oc,df_dim_razon_social_oc,on='id_oc',how='left')
df_merge = pd.merge(df_merge,df_dim_curso_perfil,on='id_curso_perfil',how='left')

In [5]:
df_query = df_merge[(df_merge['area_familia']=='información y comunicación')|(df_merge['area_familia'] == 'tecnologías de la información y comunicación')]

In [6]:
df_query = df_query.sort_values(by='volumen_capacitados',ascending=False)

In [11]:
df_query = df_query.drop_duplicates(subset=['nombre'])

In [ ]:
df_query

In [13]:
df_query = df_query[['volumen_capacitados','nombre']]
df_query.to_csv('top_ocs.csv',index=False)

# Analisis OEC

In [6]:
df_fact_oec = pd.read_csv(os.path.join(path_dmt_oec,'fact_oec.csv'))
df_dim_razon_social_oec = pd.read_csv(os.path.join(path_dmt_oec,'dim_razon_social_oec.csv'))
df_dim_perfil = pd.read_csv(os.path.join(path_dmt_oec,'dim_perfil.csv'))

In [7]:
df_merge = pd.merge(df_fact_oec,df_dim_razon_social_oec,on='id_oec',how='left')
df_merge = pd.merge(df_merge,df_dim_perfil,on='id_perfil',how='left')

In [10]:
df_query = df_merge[(df_merge['familia']=='tecnología: hardware y software (incluye tic)')]

In [14]:
df_query = df_query.sort_values(by='volumen_capacitados',ascending=False)

In [18]:
df_query = df_query.drop_duplicates(subset=['razon_social'],keep='first')

In [ ]:
df_query

In [21]:
df_query = df_query[['volumen_capacitados','razon_social']]
df_query.to_csv('top_oecs.csv',index=False)

# Análisis CI

In [33]:
df_fact_ci = pd.read_csv(os.path.join(path_dmt_ci,'fact_ci.csv'))
df_dim_capacitador_independiente = pd.read_csv(os.path.join(path_dmt_ci,'dim_capacitador_independiente.csv'))
df_dim_curso = pd.read_csv(os.path.join(path_dmt_ci,'dim_curso.csv'))

In [35]:
df_merge = pd.merge(df_fact_ci,df_dim_capacitador_independiente,left_on='id_ci_y',right_on='id_ci',how='left')
df_merge = pd.merge(df_merge,df_dim_curso,on='id_curso',how='left')

In [37]:
df_query = df_merge[(df_merge['area']=='tecnologías de la información y comunicación')]

In [38]:
df_query = df_query.sort_values(by='volumen_capacitados',ascending=False)

In [40]:
df_query = df_query.drop_duplicates(subset=['razon_social'],keep='first')

In [42]:
df_query = df_query[['volumen_capacitados','razon_social']]
df_query.to_csv('top_cis.csv',index=False)

# Añadir KPI 5 OC

In [102]:
df_fact_oc = pd.read_csv(os.path.join(path_dmt_oc,'fact_oc.csv'))
df_dim_razon_social_oc = pd.read_csv(os.path.join(path_dmt_oc,'dim_razon_social_oc.csv'))

In [103]:
df_oc_num_conv= pd.read_csv(os.path.join(os.getcwd(),'oc_num_conv.csv'))
df_oc_num_conv.drop('volumen_capacitados',axis=1,inplace=True)

In [104]:
df_merge = pd.merge(df_fact_oc,df_dim_razon_social_oc,on='id_oc',how='left')

In [105]:
df_merge = pd.merge(df_merge,df_oc_num_conv,on='nombre',how='left')

In [106]:
df_merge.columns

Index(['id_oc', 'id_curso_perfil', 'id_fecha', 'num_cap_cer', 'total_cursos',
       'volumen_capacitados', 'total_horas', 'total_ganancias', '%_asistencia',
       'nombre', 'estado', 'canton', 'provincia', ' facebook_seguidores',
       'instagram_seguidores', 'numero_convocados'],
      dtype='object')

In [107]:
df_merge['%_asistencia'] = df_merge['num_cap_cer']/df_merge['numero_convocados']*100

In [108]:
df_merge = df_merge[['id_oc', 'id_curso_perfil', 'id_fecha', 'num_cap_cer', 'total_cursos',
       'volumen_capacitados', 'total_horas', 'total_ganancias','%_asistencia']]

In [109]:
df_merge

,id_oc,id_curso_perfil,id_fecha,num_cap_cer,total_cursos,volumen_capacitados,total_horas,total_ganancias,%_asistencia
0,NaN,NaN,3,17,2,63,NaN,NaN,NaN
1,NaN,NaN,3,46,2,63,NaN,NaN,NaN
2,369.0,NaN,2,2,4,52,NaN,NaN,NaN
3,1128.0,NaN,2,2,4,52,NaN,NaN,NaN
4,369.0,NaN,2,15,4,52,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9381,1207.0,NaN,2,8,7,206,NaN,NaN,NaN
9382,459.0,NaN,2,7,7,206,NaN,NaN,NaN
9383,1207.0,NaN,2,7,7,206,NaN,NaN,NaN
9384,459.0,NaN,2,8,7,206,NaN,NaN,NaN
9385,1207.0,NaN,2,8,7,206,NaN,NaN,NaN

In [110]:
df_merge.to_csv(os.path.join(path_dmt_oc,'fact_oc.csv'),index=False)

# Añadir KPI5 OEC

In [87]:
df_fact_oec = pd.read_csv(os.path.join(path_dmt_oec,'fact_oec.csv'))
df_dim_razon_social_oec = pd.read_csv(os.path.join(path_dmt_oec,'dim_razon_social_oec.csv'))

In [4]:
df_oec_num_conv= pd.read_csv(os.path.join(os.getcwd(),'pcoec_num_conv.csv'),encoding = "ISO-8859-1")
df_oec_num_conv.drop('volumen_capacitados',axis=1,inplace=True)

In [92]:
df_merge = pd.merge(df_fact_oec,df_dim_razon_social_oec,on='id_oec',how='left')

In [95]:
df_merge = pd.merge(df_merge,df_oec_num_conv,on='razon_social',how='left')

In [97]:
df_merge['%_asistencia'] = df_merge['num_cer']/df_merge['numero_convocados']*100

In [99]:
df_merge.columns

Index(['id_oec', 'id_perfil', 'id_fecha', 'num_cer', 'total_horas',
       'total_cursos', 'volumen_capacitados', 'total_ganacias', 'razon_social',
       'estado', 'canton', 'provincia', 'nombre_comercial', 'pagina_facebook',
       'seguidores_facebook', 'pagina_instagram', 'seguidores_instagram',
       'numero_convocados', '%_asistencia'],
      dtype='object')

In [100]:
df_merge = df_merge[['id_oec', 'id_perfil', 'id_fecha', 'num_cer', 'total_horas',
       'total_cursos', 'volumen_capacitados', 'total_ganacias','%_asistencia']]

In [101]:
df_merge.to_csv(os.path.join(path_dmt_oec,'fact_oec.csv'),index=False)