In [2]:
import numpy as np
import pandas as pd
import os
import mysql.connector

In [3]:
path_dwh =  os.path.join(os.getcwd(),'DATAWAREHOUSE')
path_dmoc = os.path.join(path_dwh,'datamart_oc')
path_dmoec = os.path.join(path_dwh,'datamart_oec')
path_dmci = os.path.join(path_dwh,'datamart_ci')

In [4]:
df_oc = pd.read_csv(os.path.join(path_dmoc,'dim_razon_social_oc.csv'))
df_oc['id_oc'] = df_oc['id_oc'].astype(str)

In [45]:
df_oc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_oc         740 non-null    object
 1   razon_social  740 non-null    object
 2   estado        740 non-null    object
 3   canton        740 non-null    object
 4   provincia     740 non-null    object
dtypes: object(5)
memory usage: 29.0+ KB

In [5]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='KappaTao1233'
)

mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS dwh_setec")
mycursor.execute("CREATE DATABASE dwh_setec")
mycursor.execute("USE dwh_setec")
mycursor.execute("CREATE TABLE dim_razon_social_oc (id_oc VARCHAR(4), razon_social VARCHAR(63),estado VARCHAR(63),canton VARCHAR(63), provincia VARCHAR(63))")
sql_formula = 'INSERT INTO dim_razon_social_oc ( id_oc, razon_social, estado, canton, provincia) VALUES (%s,%s,%s,%s,%s)'
for row in df_oc.values[:10]:
    mycursor.execute(sql_formula,tuple(row))
    mydb.commit()

In [ ]:
commands = '''
CREATE DATABASE dwh_setec;

'''