# Exportacion a MySQL

In [5]:
import MySQLdb
import csv
import pandas as pd
import sys
import os

In [4]:
db = MySQLdb.connect(
    host='localhost',
    user='root',
    passwd='KappaTao1233',
    db='datawarehouse_setec'
    )
cursor = db.cursor()

path = os.path.join(os.getcwd(),'DATAWAREHOUSE')
path_dmt_oc = os.path.join(path,'datamart_oc')
path_dmt_oec = os.path.join(path,'datamart_oec')
path_dmt_ci = os.path.join(path,'datamart_ci')

In [13]:


for doc in os.listdir(path_dmt_oc):
    df_doc = pd.read_csv(os.path.join(path_dmt_oc,doc))
    data = df_doc.values
    columns = ','.join(df_doc.columns)
    doc_name = doc[:-4]
    vals = ['%s' for x in range(len(df_doc.columns))]
    vals = ','.join(vals)
    query = f'INSERT INTO {doc_name}({columns} VALUES({vals})'

    for row in data:
        cursor.execute(query, 
              row)
#close the connection to the database.
mydb.commit()
cursor.close()
print("Done")

ProgrammingError: nan can not be used with MySQL