In [30]:
import numpy as np
import pandas as pd
import os

In [31]:
path_model = os.path.join(os.getcwd(),'..','4_modeling_module','MODELS')
path_dwh = os.path.join(os.getcwd(),'..','3_data_preprocesing_module','DATAWAREHOUSE')
path_dm_oc = os.path.join(path_dwh,'datamart_oc')
path_dm_oec = os.path.join(path_dwh,'datamart_oec')
path_dm_ci = os.path.join(path_dwh,'datamart_ci')

In [32]:
filelist = os.listdir(path_model)

In [33]:
filelist

['.ipynb_checkpoints',
 'data_ci_kpi1pred.csv',
 'data_ci_kpi2pred.csv',
 'data_ci_kpi3pred.csv',
 'data_ci_kpi4pred.csv',
 'data_ci_kpi5pred.csv',
 'data_oc_kpi1pred.csv',
 'data_oc_kpi2pred.csv',
 'data_oc_kpi3pred.csv',
 'data_oc_kpi4pred.csv',
 'data_oc_kpi5pred.csv',
 'data_oc_kpi6pred.csv',
 'data_oec_kpi1pred.csv',
 'data_oec_kpi2pred.csv',
 'data_oec_kpi3pred.csv',
 'data_oec_kpi4pred.csv',
 'data_oec_kpi5pred.csv',
 'data_oec_kpi6pred.csv']

In [40]:
fact_oc = pd.read_csv(os.path.join(path_dm_oc,'fact_oc.csv'))

In [36]:
df = []
for file in filelist:
    if '.csv' in file:
        if '_oc_' in file:
            df = pd.read_csv(os.path.join(path_model,file))
            col_pred = df.iloc[:,-1:]
            print(len(col_pred))
            #fact_oc[col_pred.columns.values[0]] = col_pred.values
            break

632

In [38]:
df.head()

,area_familia,modalidad,canton,provincia,id_fact_oc,total_cursos,volumen_capacitados,total_horas,total_ganancias,%_asistencia,carga_horaria,costo,anio,num_cap_cer,confidence(range2),confidence(range1),prediction(num_cap_cer),cost
0,construcción e infraestructura,presencial,quito,pichincha,0.0,4.0,52.0,1360.0,0.0,0.0,40.0,0.0,2021.0,range2,0.314092,0.685908,range1,0.371817
1,educación y capacitación,presencial,quito,pichincha,1.0,4.0,52.0,150.0,0.0,0.0,150.0,0.0,2021.0,range1,0.310655,0.689345,range1,0.378690
2,servicios socioculturales y a la comunidad,online,guayaquil,guayas,5.0,2.0,249.0,9760.0,0.0,0.0,40.0,0.0,2021.0,range2,0.643974,0.356026,range2,0.287949
3,alimentación gastronomía y turismo,presencial,pastaza,pastaza,17.0,3.0,57.0,5200.0,0.0,0.0,200.0,0.0,2021.0,range1,0.310802,0.689198,range1,0.378396
4,alimentación gastronomía y turismo,presencial,pastaza,pastaza,18.0,3.0,57.0,3510.0,0.0,0.0,130.0,0.0,2021.0,range2,0.311219,0.688781,range1,0.377563

In [39]:
fact_oc.head()

,id_razon_social,id_curso_perfil,id_fecha,num_cap_cer,total_cursos,volumen_capacitados,total_horas,total_ganancias,%_asistencia
0,1,3487,6,34,4,52,1360,0.0,0.0
1,1,3490,6,1,4,52,150,0.0,0.0
2,4,2868,6,25,12,500,1500,0.0,0.0
3,12,3944,6,5,2,249,150,0.0,0.0
4,12,3943,6,244,2,249,9760,0.0,0.0