# Instalación e Importación de  librerías

In [2]:
import numpy as np
import pandas as pd
import os
import re

# Ruta de datos

In [3]:
path_dwh = os.path.join(os.getcwd(), '..', '3_data_preprocesing_module',"DATAWAREHOUSE")
path_dm_oc = os.path.join(path_dwh,'datamart_oc')
path_dm_oec = os.path.join(path_dwh,'datamart_oec')
path_dm_ci = os.path.join(path_dwh,'datamart_ci')
path_train_test_data = os.path.join(os.getcwd(),'TRAIN_TEST_DATA')

# Extraccion de datos

In [4]:
df_razon_social = pd.read_csv(os.path.join(path_dwh,'dim_razon_social.csv'))

## OC

In [5]:
df_fact_oc = pd.read_csv(os.path.join(path_dm_oc,'fact_oc.csv'))
df_curso_perfil = pd.read_csv(os.path.join(path_dm_oc,'dim_curso_perfil.csv'))
df_fecha = pd.read_csv(os.path.join(path_dm_oc,'dim_fecha.csv'))

In [6]:
data_oc = pd.merge(df_fact_oc,df_curso_perfil,on='id_curso_perfil',how='inner')
data_oc = pd.merge(data_oc,df_fecha,on='id_fecha',how='inner')
data_oc = pd.merge(data_oc,df_razon_social,on='id_razon_social',how='inner')

In [7]:
data_oc.fillna({'costo':0.0},inplace=True)

In [8]:
#data_oc = data_oc.drop(['id_razon_social','id_curso_perfil','id_fecha'],axis=1)

In [9]:
data_oc= data_oc.rename_axis('id_fact_oc').reset_index()
data_oc['id_fact_oc'] = data_oc['id_fact_oc'].astype('str')

In [10]:
data_oc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1580 entries, 0 to 1579
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_fact_oc           1580 non-null   object
 1   id_razon_social      1580 non-null   int64
 2   id_curso_perfil      1580 non-null   int64
 3   id_fecha             1580 non-null   int64
 4   num_cap_cer          1580 non-null   int64
 5   total_cursos         1580 non-null   int64
 6   volumen_capacitados  1580 non-null   int64
 7   total_horas          1580 non-null   int64
 8   total_ganancias      1580 non-null   float64
 9   %_asistencia         1580 non-null   float64
 10  tipo                 1580 non-null   object
 11  area_familia         1580 non-null   object
 12  especialidad_sector  1580 non-null   object
 13  curso_perfil         1580 non-null   object
 14  modalidad            1580 non-null   object
 15  carga_horaria        1580 non-null   int64
 16  costo                1580 non-null   float64
 17  anio                 1580 non-null   int64
 18  razon_social         1580 non-null   object
 19  estado               1580 non-null   object
 20  tipo_razon_social    1580 non-null   object
 21  fecha_resolucion     1580 non-null   object
 22  canton               1580 non-null   object
 23  provincia            1580 non-null   object
dtypes: float64(3), int64(9), object(12)
memory usage: 296.4+ KB

In [11]:
data_oc_kpi1 = data_oc[data_oc['num_cap_cer']>0]
data_oc_kpi1.to_csv(os.path.join(path_train_test_data,'data_oc_kpi1.csv'),index=False)

In [12]:
data_oc_kpi2 = data_oc[data_oc['total_cursos']>0]
data_oc_kpi2.to_csv(os.path.join(path_train_test_data,'data_oc_kpi2.csv'),index=False)

In [13]:
data_oc_kpi3 = data_oc[data_oc['volumen_capacitados']>0]
data_oc_kpi3.to_csv(os.path.join(path_train_test_data,'data_oc_kpi3.csv'),index=False)

In [14]:
data_oc_kpi4 = data_oc[data_oc['total_horas']>0]
data_oc_kpi4.to_csv(os.path.join(path_train_test_data,'data_oc_kpi4.csv'),index=False)

In [15]:
data_oc_kpi5 = data_oc[data_oc['total_ganancias']>0]
data_oc_kpi5.to_csv(os.path.join(path_train_test_data,'data_oc_kpi5.csv'),index=False)

In [16]:
data_oc_kpi6 = data_oc[data_oc['%_asistencia']>0]
data_oc_kpi6.to_csv(os.path.join(path_train_test_data,'data_oc_kpi6.csv'),index=False)

In [17]:
data_oc.to_csv(os.path.join(path_train_test_data,'data_oc.csv'),index=False)

## OEC

In [18]:
df_fact_oec = pd.read_csv(os.path.join(path_dm_oec,'fact_oec.csv'))
df_perfil = pd.read_csv(os.path.join(path_dm_oec,'dim_perfil.csv'))
df_fecha = pd.read_csv(os.path.join(path_dm_oec,'dim_fecha.csv'))

In [19]:
data_oec = pd.merge(df_fact_oec,df_perfil,on='id_perfil',how='inner')
data_oec = pd.merge(data_oec,df_fecha,on='id_fecha',how='inner')
data_oec = pd.merge(data_oec,df_razon_social,on='id_razon_social',how='inner')

In [20]:
data_oec.fillna({'costo':0.0},inplace=True)

In [21]:
data_oec= data_oec.rename_axis('id_fact_oec').reset_index()
data_oec['id_fact_oec'] = data_oec['id_fact_oec'].astype('str')

In [22]:
#data_oec = data_oec.drop(['id_razon_social','id_perfil','id_fecha'],axis=1)

In [23]:
data_oec.head()

,id_fact_oec,id_razon_social,id_perfil,id_fecha,num_cer,total_horas,total_cursos,volumen_capacitados,total_ganacias,%_asistencia,...,costo,dia,mes,anio,razon_social,estado,tipo_razon_social,fecha_resolucion,canton,provincia
0,0,2,1457,28,6,36,3,8,1500.0,0.0,...,250.0,1,6,2022,abalco haro cristian patricio,habilitado,organismo evaluador de la conformidad,23-11-2021,guayaquil,guayas
1,1,2,1457,109,1,6,1,1,250.0,0.0,...,250.0,2,8,2022,abalco haro cristian patricio,habilitado,organismo evaluador de la conformidad,23-11-2021,guayaquil,guayas
2,2,2,1457,231,3,18,1,3,750.0,0.0,...,250.0,4,4,2022,abalco haro cristian patricio,habilitado,organismo evaluador de la conformidad,23-11-2021,guayaquil,guayas
3,3,2,1457,301,4,24,1,4,1000.0,0.0,...,250.0,5,3,2022,abalco haro cristian patricio,habilitado,organismo evaluador de la conformidad,23-11-2021,guayaquil,guayas
4,4,2,1457,365,8,48,3,12,2000.0,0.0,...,250.0,6,2,2022,abalco haro cristian patricio,habilitado,organismo evaluador de la conformidad,23-11-2021,guayaquil,guayas

In [24]:
data_oec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14915 entries, 0 to 14914
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_fact_oec          14915 non-null  object
 1   id_razon_social      14915 non-null  int64
 2   id_perfil            14915 non-null  int64
 3   id_fecha             14915 non-null  int64
 4   num_cer              14915 non-null  int64
 5   total_horas          14915 non-null  int64
 6   total_cursos         14915 non-null  int64
 7   volumen_capacitados  14915 non-null  int64
 8   total_ganacias       14915 non-null  float64
 9   %_asistencia         14915 non-null  float64
 10  familia              14915 non-null  object
 11  sector               14915 non-null  object
 12  perfil               14915 non-null  object
 13  modalidad            14915 non-null  object
 14  carga_horaria        14915 non-null  int64
 15  costo                14915 non-null  float64
 16  dia                  14915 non-null  int64
 17  mes                  14915 non-null  int64
 18  anio                 14915 non-null  int64
 19  razon_social         14915 non-null  object
 20  estado               14915 non-null  object
 21  tipo_razon_social    14915 non-null  object
 22  fecha_resolucion     14915 non-null  object
 23  canton               14915 non-null  object
 24  provincia            14915 non-null  object
dtypes: float64(3), int64(11), object(11)
memory usage: 2.8+ MB

In [25]:
data_oec_kpi1 = data_oec[data_oec['num_cer']>0]
data_oec_kpi1.to_csv(os.path.join(path_train_test_data,'data_oec_kpi1.csv'),index=False)

In [26]:
data_oec_kpi2 = data_oec[data_oec['total_cursos']>0]
data_oec_kpi2.to_csv(os.path.join(path_train_test_data,'data_oec_kpi2.csv'),index=False)

In [27]:
data_oec_kpi3 = data_oec[data_oec['volumen_capacitados']>0]
data_oec_kpi3.to_csv(os.path.join(path_train_test_data,'data_oec_kpi3.csv'),index=False)

In [28]:
data_oec_kpi4 = data_oec[data_oec['total_horas']>0]
data_oec_kpi4.to_csv(os.path.join(path_train_test_data,'data_oec_kpi4.csv'),index=False)

In [29]:
data_oec_kpi5 = data_oec[data_oec['total_ganacias']>0]
data_oec_kpi5.to_csv(os.path.join(path_train_test_data,'data_oec_kpi5.csv'),index=False)

In [30]:
data_oec_kpi6 = data_oec[data_oec['%_asistencia']>0]
data_oec_kpi6.to_csv(os.path.join(path_train_test_data,'data_oec_kpi6.csv'),index=False)

In [31]:
data_oec.to_csv(os.path.join(path_train_test_data,'data_oec.csv'),index=False)

## CI

In [32]:
df_fact_ci = pd.read_csv(os.path.join(path_dm_ci,'fact_ci.csv'))
df_curso = pd.read_csv(os.path.join(path_dm_ci,'dim_curso_ci.csv'))
df_fecha = pd.read_csv(os.path.join(path_dm_ci,'dim_fecha_ci.csv'))

In [33]:
data_ci = pd.merge(df_fact_ci,df_curso,on='id_curso',how='inner')
data_ci = pd.merge(data_ci,df_fecha,on='id_fecha',how='inner')
data_ci = pd.merge(data_ci,df_razon_social,on='id_razon_social',how='inner')

In [34]:
data_ci.fillna({'costo':0.0},inplace=True)

In [35]:
data_ci= data_ci.rename_axis('id_fact_ci').reset_index()
data_ci['id_fact_ci'] = data_ci['id_fact_ci'].astype('str')

In [36]:
#data_ci = data_ci.drop(['id_razon_social','id_curso','id_fecha'],axis=1)

In [37]:
data_ci.head()

,id_fact_ci,id_razon_social,id_curso,id_fecha,num_cap,total_cursos,volumen_capacitados,total_horas,total_ganancias,curso,...,modalidad,carga_horaria,costo,anio,razon_social,estado,tipo_razon_social,fecha_resolucion,canton,provincia
0,0,3,1671,0,14,1,14,336,0.0,curso básico de la competencia lingüística del...,...,desconocida,24,0.0,2021,abata carrera gloria beatriz,calificado,capacitador independiente,resolución no. mdt-ci-cal-2021-0021,esmeraldas,esmeraldas
1,1,19,3305,0,69,1,69,2760,0.0,gestión de los procesos de contratación en la ...,...,desconocida,40,0.0,2021,acosta mensias david alejandro,calificado,capacitador independiente,resolución no. mdt-ci-cal-2021-0380,quito,pichincha
2,2,24,1949,0,102,3,126,1632,0.0,prevención de riesgos laborales,...,desconocida,16,0.0,2021,acurio rivera alexandra pamela,calificado,capacitador independiente,resolución no. mdt-ci-cal-2021-0103,zaruma,el oro
3,3,24,3862,0,7,3,126,112,0.0,primeros auxilios.,...,desconocida,16,0.0,2021,acurio rivera alexandra pamela,calificado,capacitador independiente,resolución no. mdt-ci-cal-2021-0103,zaruma,el oro
4,4,24,3860,0,17,3,126,272,0.0,seguridad en el manejo de explosivos.,...,desconocida,16,0.0,2021,acurio rivera alexandra pamela,calificado,capacitador independiente,resolución no. mdt-ci-cal-2021-0103,zaruma,el oro

In [38]:
data_ci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_fact_ci           1100 non-null   object
 1   id_razon_social      1100 non-null   int64
 2   id_curso             1100 non-null   int64
 3   id_fecha             1100 non-null   int64
 4   num_cap              1100 non-null   int64
 5   total_cursos         1100 non-null   int64
 6   volumen_capacitados  1100 non-null   int64
 7   total_horas          1100 non-null   int64
 8   total_ganancias      1100 non-null   float64
 9   curso                1100 non-null   object
 10  area                 1100 non-null   object
 11  especialidad         1100 non-null   object
 12  modalidad            1100 non-null   object
 13  carga_horaria        1100 non-null   int64
 14  costo                1100 non-null   float64
 15  anio                 1100 non-null   int64
 16  razon_social         1100 non-null   object
 17  estado               1100 non-null   object
 18  tipo_razon_social    1100 non-null   object
 19  fecha_resolucion     1100 non-null   object
 20  canton               1100 non-null   object
 21  provincia            1100 non-null   object
dtypes: float64(2), int64(9), object(11)
memory usage: 189.2+ KB

In [39]:
data_ci_kpi1 = data_ci[data_ci['num_cap']>0]
data_ci_kpi1.to_csv(os.path.join(path_train_test_data,'data_ci_kpi1.csv'),index=False)

In [40]:
data_ci_kpi2 = data_ci[data_ci['total_cursos']>0]
data_ci_kpi2.to_csv(os.path.join(path_train_test_data,'data_ci_kpi2.csv'),index=False)

In [41]:
data_ci_kpi3 = data_ci[data_ci['volumen_capacitados']>0]
data_ci_kpi3.to_csv(os.path.join(path_train_test_data,'data_ci_kpi3.csv'),index=False)

In [42]:
data_ci_kpi4 = data_ci[data_ci['total_horas']>0]
data_ci_kpi4.to_csv(os.path.join(path_train_test_data,'data_ci_kpi4.csv'),index=False)

In [43]:
data_ci_kpi5 = data_ci[data_ci['total_ganancias']>0]
data_ci_kpi5.to_csv(os.path.join(path_train_test_data,'data_ci_kpi5.csv'),index=False)

In [44]:
data_ci.to_csv(os.path.join(path_train_test_data,'data_ci.csv'),index=False)

# Investigación

In [38]:
type(data_oec['familia'].value_counts())

pandas.core.series.Series

In [41]:
consulta = pd.concat([data_oc['area_familia'],data_oec['familia'],data_ci['area']],axis=0)

In [43]:
consulta.value_counts()

actividades tipo servicios                                                                  7844
actividades de enseñanza                                                                    3007
actividades comunitarias                                                                    1346
turismo y alimentación                                                                       933
procesos industriales                                                                        885
tecnología: hardware y software (incluye tic)                                                525
metalmecánica                                                                                453
administración y legislación                                                                 396
educación y capacitación                                                                     389
servicios financieros                                                                        277
tecnologías de la información y comunicación                                                 219
servicios socioculturales y a la comunidad                                                   141
comercialización y venta de productos                                                        139
alimentación gastronomía y turismo                                                           124
actividades de salud                                                                         105
forestal ecología y medio ambiente                                                           103
vehículos, automotores, carrocerías y sus partes                                             102
finanzas comercio y ventas                                                                    91
electricidad y electrónica                                                                    87
pesca, acuacultura y maricultura                                                              77
transporte y logística                                                                        71
artes y artesanía                                                                             58
construcción                                                                                  56
construcción e infraestructura                                                                37
comunicación y artes gráficas                                                                 23
producción pecuaria                                                                           16
productos industriales, farmacéuticos y químicos                                              15
otras actividades de servicios                                                                14
mecánica industrial y minería                                                                 11
mecánica automotriz                                                                            9
agricultura y plantaciones                                                                     7
productos textiles, cuero y calzado                                                            7
enseñanza                                                                                      5
transporte, almacenamiento y logística                                                         4
actividades profesionales, científicas y técnicas                                              4
industrias manufactureras                                                                      2
industria agropecuaria                                                                         2
industrias  manufactureras                                                                     2
actividades de atención de la salud humana y de asistencia social                              2
electricidad, gas y agua                                                                       1
suministro de electricidad, gas, vapor y aire acondicionado                                    1
información y comunicación                                                                     1
actividades inmobiliarias                                                                      1
actividades de servicios administrativos y de apoyo                                            1
transformación de alimentos (incluye agroindustria)                                            1
comercio al por mayor y al por menor; reparación de vehículos automotores y motocicletas       1
dtype: int64