In [1]:
import numpy as np
import pandas as pd
import os
import mysql.connector
from tqdm import tqdm

In [2]:
path_dwh =  os.path.join(os.getcwd(),'DATAWAREHOUSE')
path_dmoc = os.path.join(path_dwh,'datamart_oc')
path_dmoec = os.path.join(path_dwh,'datamart_oec')
path_dmci = os.path.join(path_dwh,'datamart_ci')

In [11]:
os.listdir(path_dmoc)

['dim_curso_perfil.csv',
 'dim_fecha.csv',
 'dim_razon_social_oc.csv',
 'fact_oc.csv']

In [3]:
df_oc = pd.read_csv(os.path.join(path_dmoc,'dim_razon_social_oc.csv'))
df_oc['id_oc'] = df_oc['id_oc'].astype(str)

# Conexión con MySQL

In [21]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='KappaTao1233'
)

mycursor = mydb.cursor()

# Creación de la base de datos

In [22]:
mycursor.execute("DROP DATABASE IF EXISTS dwh_setec")
mycursor.execute("CREATE DATABASE dwh_setec")
mycursor.execute("USE dwh_setec")

# DATAMART OC

## Tabla dim_razon_social_oc

In [23]:
mycursor.execute("DROP TABLE IF EXISTS dim_razon_social_oc")
mycursor.execute('''CREATE TABLE dim_razon_social_oc (
id_oc VARCHAR(4) PRIMARY KEY,
razon_social VARCHAR(255) NOT NULL,
estado VARCHAR(63) NOT NULL,
canton VARCHAR(63) NOT NULL,
provincia VARCHAR(63) NOT NULL
)''')
sql_formula = 'INSERT INTO dim_razon_social_oc ( id_oc, razon_social, estado, canton, provincia) VALUES (%s,%s,%s,%s,%s)'
for row in tqdm(df_oc.values):
    mycursor.execute(sql_formula,tuple(row))
    mydb.commit()

100%|██████████| 740/740 [00:33<00:00, 22.41it/s]

## Tabla dim_curso_perfil_oc

In [19]:
df_cur_per = pd.read_csv(os.path.join(path_dmoc,'dim_curso_perfil.csv'))
df_cur_per['id_curso_perfil'] = df_cur_per['id_curso_perfil'].astype(str)
df_cur_per = df_cur_per.fillna({'costo':0})

In [58]:
mycursor.execute("DROP TABLE IF EXISTS dim_curso_perfil_oc")
mycursor.execute('''CREATE TABLE dim_curso_perfil_oc (
id_curso_perfil VARCHAR(4) PRIMARY KEY,
tipo VARCHAR(63) NOT NULL,
area_familia VARCHAR(255) NOT NULL,
especialidad_sector VARCHAR(255) NOT NULL,
curso_perfil VARCHAR(255) NOT NULL,
modalidad VARCHAR(255) NOT NULL,
carga_horaria FLOAT NOT NULL,
costo FLOAT NOT NULL
)''')
sql_formula = 'INSERT INTO dim_curso_perfil_oc ( id_curso_perfil, tipo, area_familia, especialidad_sector, curso_perfil, modalidad, carga_horaria, costo) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)'
for row in tqdm(df_cur_per.values):
    mycursor.execute(sql_formula,tuple(row))
    mydb.commit()

100%|██████████| 5103/5103 [04:31<00:00, 18.83it/s]

## Tabla dim_fecha_oc

In [59]:
df_fecha_oc = pd.read_csv(os.path.join(path_dmoc,'dim_fecha.csv'))
df_fecha_oc['id_fecha'] = df_fecha_oc['id_fecha'].astype(str)
df_fecha_oc['anio'] = df_fecha_oc['anio'].astype(str)

In [45]:
', '.join(df_fecha_oc.columns)

'id_fecha, anio'

In [60]:
mycursor.execute("DROP TABLE IF EXISTS dim_fecha_oc")
mycursor.execute('''CREATE TABLE dim_fecha_oc (
id_fecha VARCHAR(4) PRIMARY KEY,
anio VARCHAR(4) NOT NULL
)''')
sql_formula = 'INSERT INTO dim_fecha_oc ( id_fecha, anio) VALUES (%s,%s)'
for row in tqdm(df_fecha_oc.values):
    mycursor.execute(sql_formula,tuple(row))
    mydb.commit()

100%|██████████| 8/8 [00:00<00:00, 28.23it/s]

## Tabla fact_oc

In [61]:
df_fact_oc = pd.read_csv(os.path.join(path_dmoc,'fact_oc.csv'))
df_fact_oc['id_oc'] = df_fact_oc['id_oc'].astype(str)
df_fact_oc['id_curso_perfil'] = df_fact_oc['id_curso_perfil'].astype(str)
df_fact_oc['id_fecha'] = df_fact_oc['id_fecha'].astype(str)

In [57]:
mycursor.execute("DROP TABLE IF EXISTS fact_oc")
mycursor.execute('''CREATE TABLE fact_oc (
id_oc VARCHAR(4) NOT NULL,
id_curso_perfil VARCHAR(4) NOT NULL,
id_fecha VARCHAR(4) NOT NULL,
num_cap_cer INT NOT NULL,
total_cursos INT NOT NULL,
volumen_capacitados INT NOT NULL,
total_horas INT NOT NULL,
total_ganancias FLOAT NOT NULL
)''')
sql_formula = '''INSERT INTO fact_oc (id_oc, id_curso_perfil, id_fecha, num_cap_cer, total_cursos, volumen_capacitados, total_horas, total_ganancias) 
VALUES (%s,%s,%s,%s,%s,%s,%s,%s)'''
for row in tqdm(df_fact_oc.values):
    mycursor.execute(sql_formula,tuple(row))
    mydb.commit()

100%|██████████| 1580/1580 [01:15<00:00, 21.05it/s]

## CREAR CLAVES FORANEAS

In [68]:
mycursor.execute(''' 
ALTER TABLE fact_oc
ADD FOREIGN KEY (id_fecha) REFERENCES dim_fecha_oc(id_fecha)
''')
mycursor.execute(''' 
ALTER TABLE fact_oc
ADD FOREIGN KEY (id_oc) REFERENCES dim_razon_social_oc(id_oc)
''')
mycursor.execute(''' 
ALTER TABLE fact_oc
ADD FOREIGN KEY (id_curso_perfil) REFERENCES dim_curso_perfil_oc(id_curso_perfil)
''')