In [1]:
import sys
import os
import shutil
import pandas as pd
import time
from threading import Thread, Barrier

arr = ['oc','ocf','occ','ocs','oc_cc','oc_cl','pcoc','oec','oecc','oecs','oecf','pcoec','ci','ci_lca','pcci']
doc_name = 'ci_lca'
QUERY_INPUT = '_'
N_DRIVERS = 1
new_ws = 'no'


#os.system(f'python web_scraper.py {doc_name} {QUERY_INPUT} {N_DRIVERS} {new_ws}')

In [20]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6]],columns=['a','b','c'])

In [21]:
df

   a  b  c
0  1  2  3
1  4  5  6

In [22]:
arr = [7,8,6]

In [23]:
df.iloc[-1]['c']

6

In [24]:
arr[-1] == df.iloc[-1]['c']

True

In [25]:
df.iloc[-1] = arr

In [26]:
df

   a  b  c
0  1  2  3
1  7  8  6